<footer class="footer">
    <div class="row">
        <div class="twelve columns">
            <p>Copyright &copy; 2018-{{ 'now' | date: "%Y" }} - Jacob Hernandez</p>
        </div>
    </div>

</footer>
</div>
<script async>
//actions for hamburger menu

hamburgerMenu = document.querySelector('.hamb-m');
offScreenMenu = document.querySelector('.hidden');
let active = true;
hamburgerMenu.addEventListener('click',
    function (event) {
        if (active === true) {
            active = false;
            offScreenMenu.classList.toggle('hidden');
            hamburgerMenu.innerHTML = '<a class="hamb-m"><i class="fas fa-times"></i></a>';
        }
        else if (active == false) {
            active = true;
            offScreenMenu.classList.toggle('hidden');
            hamburgerMenu.innerHTML = '<a class="hamb-m"><i class="fas fa-bars"></i></a>';
        }
    }
);

</script>
</body>

</html>