<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{{ page.robots }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% seo %}
    {%- include style.html-%}

    {%- include google-analytics.html -%}

</head>

<body>

    <div class="container">
        <!--Start navigation-->
        <div class="row">
            <div class="twelve columns menu-button">
                <a  href="#" class="hamb-m" onlick="void(0)"><i class="fas fa-bars"></i></a>
            </div>
            <div class="twelve columns nav hidden">
                <ul class="navbar">
                    <li class="navbar-item"><a class="navbar-link" href="/">HOME</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/about/">ABOUT</a></li>
                    <!-- <li class="navbar-item"><a class="navbar-link" href="/blog/">BLOG</a></li> -->
                </ul>

            </div>
        </div>
        <!-- End navigation -->
