<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{{ page.robots }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% seo %}
    {%- include style.html-%}

</head>

<body>

    <div class="container">
        <!--Start navigation-->
        <div class="row">
            <div class="twelve columns nav hidden">
                <ul class="navbar">

                    <li class="navbar-item"><a class="navbar-link" href="/">home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/about/">ABOUT</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/contact/">CONTACT</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="https://talent.hubstaff.com/profiles/jacob-hernandez">WORK WITH ME</a></li>
                </ul>

            </div>
        </div>
        <!-- End navigation -->
