---
layout: default
---

<!-- Content Area-->
<div class="row profile">
    <div class="five columns profile-image">
        <img src="assets/img/rsz_jacob.jpg" class="img-fluid">
    </div>

    <div class="seven columns profile-info">
        <h1 class="section-title">Jacob Hernandez</h1>
        <h5 class="section-subtitle">Software, Web Developer and Digital Marketing Strategist</h5>
        <p class="section-description">
            I'm a software and web developer from the Philippines working as a digital marketing asssistant for
            a digital agency. I specialize in web and desktop application development and Search Engine
            Optimization (SEO).
        </p>
        <div class="twelve columns">
            
            <div class="twelve columns social-links">
                <span class="social-m">Get in touch or visit my social media profiles.</span>
                <a href="mailto:hakube@outlook.com"><i class="fas fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/jacobhernandez1"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/hakube"><i class="fab fa-github"></i></a>
                <a href="https://medium.com/@jacobh"><i class="fab fa-medium"></i></a>
            </div>
        </div>
    </div>
    <div class="twelve columns separator-top">
        <hr class="separator">

    </div>
</div>
<!-- End content area -->
